---
import Link from "../../components/Link.astro";
---

<section caption="About Me" title="Behind the Code" id="about">
    <p class="px-4">
        Hello and welcome to my portfolio! As a certified developer in Java, JavaScript, UML, and software testing, my
        journey in the tech world has been self-driven and incredibly rewarding. With over four years of personal
        experience, I specialize in crafting web, app, and software solutions that are clean, scalable, and
        maintainable. My approach is industry-agnostic, designed to solve complex problems across various sectors.
        Intrigued? Dive deeper into my biography to explore my passion for innovative thinking and
        solution-oriented programming.
    </p>
    <div>
        <div class="aspect-video w-full bg-neutral-700 rounded-2xl">Image</div>
    </div>
    <p class="px-4">
        My passion for technology ignited during my time at a travel agency, where an outsourced team's shortcomings
        led me to dive into web, app, and software development. Specializing in TypeScript and front-end frameworks like
        Astro and Next.js, I'm also keen to broaden my skills with Rust and Python.
    </p>
    <p class="px-4">
        In my work, I prioritize clean, maintainable code, often breaking complex components into smaller pieces for
        better efficiency. As I look ahead, my goals are to secure a job and expand my expertise. When not coding, I
        enjoy traveling—exploring new cultures and beautiful landscapes that offer a break from the
        digital world.
    </p>
    <div class="px-4">
        <Link outlined>View my CV</Link>
    </div>
</section>
