---
import data from "./experience.json"

const experiences: Record<string, { responsibilities: string, skills: string[] }> = data
---

<section caption="My Work History" title="Professional Experience" id="experience">
        <ul class="px-4 grid gap-y-8">
            {Object.entries(experiences).map(([experience, {responsibilities, skills}]) => (
                    <li class="grid gap-y-2">
                        <h3>{experience}:</h3>
                        <p>{responsibilities}</p>
                        <span>Key skills gained:</span>
                        <ul>
                            {skills.map(skill => (
                                    <li class="before:content-['•'] before:text-brand">&nbsp;&nbsp;{skill}</li>))}
                        </ul>
                    </li>))}
        </ul>
</section>