---
import Layout from "../layouts/Layout.astro";
import Skills from "./_about/skills/Skills.astro";
import Experience from "./_about/experience/Experience.astro";
import Contact from "./_home/Contact.astro";
---


<Layout title="KJA Koenekoop | About">
    <main>
        <Skills/>
        <Experience/>
        <Contact/>
    </main>
</Layout>

