---
import Layout from "@layouts/Layout.astro";
import Skills from "./_about/skills/Skills.astro";
import Experience from "./_about/experience/Experience.astro";
import About from "./_about/About.astro";
---


<Layout title="KJA Koenekoop | About">
    <main class="mt-40">
        <About/>
        <Skills/>
        <Experience/>
    </main>
</Layout>

