---
import Layout from '@layouts/Layout.astro';
import Projects from "./_home/Projects.astro";
import Contact from "./_home/Contact.astro";
import Hero from "./_home/Hero.astro";
import About from "./_home/About.astro";
---

<Layout title="KJA Koenekoop | Porfolio">
    <main>
        <Hero/>
        <About/>
        <Projects/>
        <Contact/>
    </main>
</Layout>

