---

type Props = {
    start?: boolean
    end?: boolean
}

const {start, end}: Props = Astro.props

---

<div aria-hidden="true" class="absolute inset-y-0 inset-x-4 mx-auto flex justify-between -z-20">
    {start && <div class="absolute top-0 inset-x-0 h-40 bg-gradient-to-b from-theme-950 to-transparent" />}
    <div class="w-[1px] bg-brand/20 h-full"/>
    <div class="w-[1px] bg-brand/20 h-full hidden md:block"/>
    <div class="w-[1px] bg-brand/20 h-full hidden sm:block"/>
    <div class="w-[1px] bg-brand/20 h-full hidden md:block"/>
    <div class="w-[1px] bg-brand/20 h-full"/>
    {end && <div class="absolute bottom-0 inset-x-0 h-40 bg-gradient-to-b from-transparent to-theme-950" />}
</div>