---
export enum Variant {'solid', 'text'}

type Props = {
    href: string
    variant: Variant
}

const {href, variant}: Props = Astro.props
---

<a href={href}
   class:list={[
       "font-medium rounded-md transition-color duration-700 hover:duration-200",
       {"relative bg-brand text-theme-950 py-2.5 px-3.5 group": variant === Variant.solid},
       {"text-white py-2.5 hover:text-brand": variant === Variant.text},
   ]}>
    {variant === Variant.solid && (
        <div class="absolute bg-brand inset-1 -z-20 blur-none transition-all group-hover:blur-lg duration-700 group-hover:duration-200"/>
        <div class="absolute rounded-md bg-brand -z-10"/>
    )}
    <slot/>
    ›
</a>