---
import NavigationBar from "@components/navigation-bar/NavigationBar.astro";
import {ViewTransitions} from 'astro:transitions'
import Guides from "../components/Guides.astro";
import NotificationBar from "../components/NotificationBar.astro";
interface Props {
    title: string;
}

const {title}: Props = Astro.props;
---

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content="Astro description"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="generator" content={Astro.generator}/>
    <meta name="theme-color" content="#2be82a"/>
    <title>{title}</title>
    <ViewTransitions/>
</head>
<body class="bg-theme-900 relative">
<NavigationBar/>
<NotificationBar notification="This website is currently under construction. Some things might not work at this moment."/>
<slot/>
</body>
</html>

<style is:global>
    @tailwind base;
    @tailwind components;
    @tailwind utilities;
</style>
